.btn {
  transition: all 0.4s ease;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  z-index: 1;
  align-items: center;
  width: fit-content;
  padding: 15px 40px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  border: none;
  color: #fff;
  background: linear-gradient(to bottom, $light-purple 50%, $violet 50%);
  background-size: 100% 200%;
  background-position: left bottom;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 16px;
  }
  @media (hover:hover) {
    &:hover {
      background-position: right top;
    }
  }

}