$breakpoint-xxl: 1921px;
$breakpoint-xl-additional: 1800px;
$breakpoint-xl: 1440.98px;
$breakpoint-l: 1199.98px;
$breakpoint-md: 991.98px;
$breakpoint-sm: 767.98px;
$breakpoint-xs: 575.98px;

$main-font: 'Spartan';
$additional-font: 'Poppins';

$white: #ffffff;
$white-50: rgba(255,255,255,0.5);
$lightGray: rgba(58, 62, 88, 0.2);
$darkBlue: #1B263E;
$blue: rgba(45, 61, 110, 1);
$violet: #3E1B38;
$clan: #25AAD3;
$gray: #3A3E58;
$black: #0C2134;
$swiper-btn-prev: #F8F9FC;
$swiper-btn-next: #DEE1F8;
